body {
    font-family: Arial, Helvetica, sans-serif
}

.content-title {
    font-size: 24px;
}

.content-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.rounded-image {
    width: 150px;
    border-radius: 50%;
}


#resumo {
    font-size: 16px;
}